<div class="team-container"ng-repeat="team in teamData">
  <div class="logo">
    <img ng-src="{{team.logoPath}}">
  </div>
  <div class="record">
      <h1> Wins: {{team.wins}} Losses: {{team.losses}} </h1>
  </div>
  <div class="team-data">
    <div class="game" ng-repeat="game in team" ng-class="{'even' : $index % 2 === 0}">
      Date: {{game.createdAt | date: mediumDate}} <br />
      {{team.homeTeam}} - {{game.homeTeamScore}} <br />
      {{game.opponent}} - {{game.opponentScore}} </br />
    </div>
  </div>

</div>
